body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333; /* Warna teks default */
    margin: 0;
}

.top-navigation {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.top-navigation nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.top-navigation nav ul li {
    margin-left: 20px;
}

.top-navigation nav ul li:first-child {
    margin-left: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto; /* Memposisikan kontainer di tengah */
    padding: 20px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    .top-navigation {
        background-color: #444;
    }

    button {
        background-color: #555;
    }

    table, th, td {
        border-color: #888;
        background-color: #444;
        color: #fff;
    }

    th {
        background-color: #666;
    }
}
